<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LambdaTest ecommerce playground website test suite ">
    <test name="Visual Regression Tests">
        <classes>
            <class name="io.github.mfaisalkhatri.tests.VisualRegressionTests">
            <methods>
                <include name="testECommerceVisualRegressionScenarioOne"/>
                <include name="testECommerceVisualRegressionScenarioTwo"/>
            </methods>
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->